This homework assignment is about working with queries to answer questions about the data. We are working in this homework with a dataset that comes from stackoverflow (the cooking one) that is openly available. We ask and answer some interesting questions about the data in this homework assignment.

In [3]:
import pandas as pd
from sqlalchemy import create_engine

Initialize the database engine

In [4]:
# Look at private.txt to find out how to connect to database
engine = create_engine('postgresql://cslab:TacoSh%40ck@localhost:5432/cooking')

# Part 1: Run Queries and Explain what they do

This query displays the top 5 rated posts by their titles based on their score

In [5]:
pd.read_sql_query(
    'SELECT title FROM Posts WHERE posttypeid = 1 ORDER BY score DESC LIMIT 5;'
    ,engine)

                                               title
0              How can I chop onions without crying?
1  Translating cooking terms between US / UK / AU...
2      Why add salt to the water when cooking pasta?
3  Why would boiling milk in an electric kettle b...
4          What is this colored fiber in my chicken?

This query displays the top 5 users based on their reputation on the site

In [6]:
pd.read_sql_query(
    'SELECT reputation,displayname FROM users ORDER BY reputation DESC LIMIT 5;'
    ,engine)

   reputation   displayname
0       77759      rumtscho
1       67203      SAJ14SAJ
2       59803           Joe
3       52299      Cascabel
4       50322  Jolenealaska

This query displays all of the times where the user id name is not the same as the id name stored in the posts.

In [7]:
pd.read_sql_query(
    '''
    SELECT displayname,ownerdisplayname FROM users
      INNER JOIN posts ON users.id = owneruserid
      WHERE displayname <> ownerdisplayname;
    '''
    ,engine)

            displayname ownerdisplayname
0          davidscolgan         dvcolgan
1         lamwaiman1988     gunbuster363
2       Danubian Sailor       lechlukasz
3                  Hank    Henry Jackson
4  Artificial Stupidity  Yasashii Eirian
5               Netizen            IamSJ
6                 Fahed      Fahed Fahed
7                Roux A         Hershe A

# Part 2: Construct Queries to answer the following questions

Find the question with the most tags.

In [73]:
pd.read_sql_query(
    ''' 
    SELECT id, char_length(tags) - char_length(replace(tags,'<','')) FROM posts where tags ~ '[^0-9]' ORDER BY 2 desc LIMIT 1
    '''
    ,engine)

    id  ?column?
0  119         5

How many questions were asked on a Friday.

In [128]:
pd.read_sql_query(
    '''   
    SELECT COUNT(F.date_part) from
        (SELECT X.date_part from
            (SELECT EXTRACT(DOW FROM creationdate) FROM posts)
            as X
        WHERE date_part = 5)
        as F
    '''
    ,engine)

   count
0  10175

Which month of the year sees the most activity.

In [127]:
pd.read_sql_query(
    '''
        select count(id),extract(month from lasteditdate) from posts group by extract(month from lasteditdate) order by count desc
    '''
,engine)

    count  date_part
0   46146        NaN
1    3794        3.0
2    3721        4.0
3    1903        8.0
4    1837       12.0
5    1775        7.0
6    1726        9.0
7    1704       10.0
8    1682        1.0
9    1677        2.0
10   1665       11.0
11   1453        5.0
12   1358        6.0

It appears that March (3) is the month with the most activity.

# Part 3: Make my own three queries and explain what they do

1.What is the longest question?

In [142]:
lq = pd.read_sql_query(
'''
    select id,body, char_length(body) from posts where posttypeid = 1 ORDER BY char_length(body) desc limit 1
'''
,engine)

In [143]:
lq

    id                                               body  char_length
0  784  <p>This post is an attempt to keep track of th...        28690

In [148]:
# Using python to see the question
lq['body'][0][1:1000] + "..."

'p>This post is an attempt to keep track of the terms that differ between dialects of English or exist in some dialects but not others: British / Australian / Canadian / American / etc.</p>\n\n<p>Please note that Canada may be difficult to classify, as some regions (especially near the southern border) use US terms, while others may use UK terms.</p>\n\n<p>It\'s a community wiki, so feel free to edit and clarify or add additional items. The comments are getting long, so use answers for discussion of specific concepts if necessary. If you\'re not sure what a term means, ask it as a new question and tag it with <a href="https://cooking.stackexchange.com/questions/tagged/language">language</a>)</p>\n\n<p>Also see <a href="https://cooking.stackexchange.com/q/16076/67">What international cooking terms sound similar but have different meanings?</a> for similar issues with other languages.</p>\n\n<h1>Vegetables:</h1>\n\n<ul>\n<li><strong>Eggplant</strong> (US, AU) is an <strong>aubergine</strong> (UK).</l...'

2.Which question has the most comments?

In [141]:
pd.read_sql_query(
'''
    select id, body, commentcount from posts where posttypeid=1 order by commentcount desc limit 1
'''
,engine)

    id                                               body  commentcount
0  784  <p>This post is an attempt to keep track of th...            63

3.What is the shortest time (in seconds) a question was asked and then had no activity on questions that had some answers?

In [175]:
pd.read_sql_query(
'''
    select id, body, (extract(epoch from lastactivitydate) - extract(epoch from creationdate)) from posts
        where extract(epoch from lastactivitydate) - extract(epoch from creationdate) <> 0 
        and answercount >= 1 
        and posttypeid = 1
        order by extract(epoch from lastactivitydate) - extract(epoch from creationdate) asc 
        limit 1 
        
'''
,engine)

      id                                               body  ?column?
0  85317  <p>I recently bought an <a href="http://instan...    87.206

# Class notes

Find the user with the most reputation

In [19]:
pd.read_sql_query(
    'SELECT id,reputation, DisplayName FROM Users ORDER BY reputation DESC LIMIT 1;'
    ,engine)

     id  reputation displayname
0  4638       77759    rumtscho

In [15]:
pd.read_sql_query(
    'SELECT title FROM posts WHERE owneruserid = 4638;'
    ,engine)

                                                  title
0                 Can I use guar and gelatine together?
1                                                  None
2                 What can I use instead of corn syrup?
3                                                  None
4     What is the purpose of using potato peels for ...
5                                                  None
6                                                  None
7                                                  None
8                                                  None
9                                                  None
10                                                 None
11                                                 None
12                   Induction unit makes buzzing sound
13                                                 None
14        What are common/traditional uses for merguez?
15                                                 None
16           What are good techniques to prepare liver?
17            How to make a pie crust out of plantains?
18                                                 None
19                                                 None
20                                                 None
21                                                 None
22                                                 None
23          Which containers should I use for souffles?
24                                                 None
25                           How to get rid of weevils?
26                                                 None
27                                                 None
28    How to make pie filling which tastes like yogu...
29                                                 None
...                                                 ...
1441                                               None
1442                                               None
1443                                               None
1444                                               None
1445                                               None
1446                                               None
1447                                               None
1448                                               None
1449                                               None
1450                                               None
1451                                               None
1452                                               None
1453                                               None
1454                                               None
1455                                               None
1456                                               None
1457                                               None
1458                                               None
1459                                               None
1460                                               None
1461                                               None
1462                                               None
1463                                               None
1464                                               None
1465                                               None
1466                                               None
1467                                               None
1468                                               None
1469                                               None
1470                                               None

[1471 rows x 1 columns]

How to do this with just one query? With JOIN to combine the two tables

In [17]:
pd.read_sql_query(
    '''
    SELECT title FROM posts
    INNER JOIN
        (SELECT id,reputation, DisplayName FROM Users ORDER BY reputation DESC LIMIT 1) as X
    ON X.id = owneruserid
    WHERE posttypeid = 1;
    '''
    ,engine)

                                                 title
0                Can I use guar and gelatine together?
1                What can I use instead of corn syrup?
2    What is the purpose of using potato peels for ...
3                   Induction unit makes buzzing sound
4        What are common/traditional uses for merguez?
5           What are good techniques to prepare liver?
6            How to make a pie crust out of plantains?
7          Which containers should I use for souffles?
8                           How to get rid of weevils?
9    How to make pie filling which tastes like yogu...
10              What is the best way to fry rice cake?
11                     Do I need sugar for zabaglione?
12                 How to make a small DIY bain marie?
13   Is nigella oil (black cumin or black caraway) ...
14   What does "buttermilk" mean in an American pan...
15   What is the egg mixture used in gratins called...
16   Is asparagus generally recognized as the best ...
17   How does thermal shock affect pans made of dif...
18                How to get threads in a yeast dough?
19                          Why is my icecream bitter?
20                           How does black rice cook?
21     Does meat need to be washed before preparation?
22                             Substituting tomatillos
23                Good book on English/British cuisine
24                      Should scones dough be sticky?
25            How to adapt recipes to hard wheat flour
26                      How to fold camembert in dough
27   How much overrun do I get with a compressorles...
28        What features are important in a hand mixer?
29      Is there an application for soft cheese rinds?
..                                                 ...
89   Does the type of strainer built in a teapot ma...
90   Are there dangers to using solid fuel on a pro...
91      How much acid to use for stabilizing meringue?
92         Which caffeine-free tea herbs have tannins?
93        Baking camembert with crust in a larger pan?
94   What considerations are there when using powde...
95   Which cuts of beef are suitable for slow cooki...
96               What conditions make xanthan thicken?
97   What is the highest melting temperature of cho...
98   Why did my chocolate icing exude its cocoa but...
99          What are the advantages of "bathed" bread?
100                                How to mount a ham?
101                           Can I candy pomegranate?
102                             How to deseed a guava?
103  What is a good ratio (range) of nut flour in M...
104  How to get more lactic acid vs acetic acid in ...
105   To what extent are dimpled pans interchangeable?
106                 Vegan ice cream has chalky texture
107         Are sundried tomatoes regulated in the EU?
108  How to butter and flour the chimney of a bundt...
109  What will happen if you bake seized chocolate ...
110              What are the parts of the corn plant?
111  How does ambient humidity of flour storage inf...
112    Sugar syrup with orange juice foams excessively
113  Should I thaw cherries for a sour cream cherry...
114    What is the binding power of starches vs flour?
115                        Microwave pudding sediments
116  The container of my food is domed/bulged, is i...
117                           How to mark yogurt jars?
118         Can a masticating juicer make good hummus?

[119 rows x 1 columns]